/* CreateNewPost.css */

.feed-container {
    width: 300px; /* Adjust the width as needed */
    margin: 20px; /* Add margin as needed */
    border: 1px solid #ccc; /* Add border for the container */
    border-radius: 10px; /* Add rounded edges */
    padding: 10px; /* Add padding inside the container */
    background-color: #fff; /* Set background color */
}

.input-and-button-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.feed-form {
    display: flex;
    flex-direction: column;
}

.feed-label {
    font-weight: bold;
    margin-bottom: 5px;
}

.feed-input {
    width: calc(100% - 16px); /* Adjust width considering padding and border */
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box; /* Include padding and border in the total width and height */
}

.feed-button {
    background-color: #007bff; /* Blue color */
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 8px 15px;
    cursor: pointer;
    align-self: flex-end; /* Align the button to the right */
}
