.feed-container {
  max-width: 600px;
  margin: auto;
  margin-top: 20px;
}

.create-message-container {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

.post-form {
  display: flex;
  flex-direction: column;
}

textarea {
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
  resize: none;  /* Prevent textarea from being resized */
}

.post-actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.image-upload-label {
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: #007bff;
  color: white;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  margin-right: 10px;
}

.submit-btn {
  border: none;
  background-color: #007bff;
  color: white;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.posts-container {
  margin-top: 20px;
}

.feed-title {
  margin-bottom: 10px;
  color: slategray;
  text-align: left;
}

.feed {
  display: flex;
  flex-direction: column;
}
