.user-page-container {
    display: flex; 
    flex-direction: row;
}

.user-page-left {
    display: flex;
    flex-direction: column;
}

.user-page-right {
    display: flex;
    flex-direction: column;
    border: 2px;
    border-color: black;
}

.notifications-container {
    display: flex;
    flex-direction: column;
    border: 5px solid #00843D;
    border-radius: 20px;
    margin: 10px;
    background-color: white;
    box-shadow: 5px 5px 5px rgba(128, 128, 128, 0.454);
}

.friends-container {
    display: flex;
    flex-direction: column;
    border: 5px solid #00843D;
    border-radius: 20px;
    margin: 10px;
    background-color: white;
    box-shadow: 5px 5px 5px rgba(128, 128, 128, 0.454);
}

.user-container {
    display: flex;
    flex-direction: column;
    border: 5px solid #00843D;
    border-radius: 20px;
    margin: 10px;
    background-color: white;
    box-shadow: 5px 5px 5px rgba(128, 128, 128, 0.454);
}

.posts {
    display: flex;
    flex-direction: column;
}

.posts-header {
    display: flex;
    flex-direction: column;
    border: 5px solid #00843eef;
    border-radius: 20px;
    margin: 10px;
    background-color: white;
    box-shadow: 5px 5px 5px rgba(128, 128, 128, 0.454);

}