/* CreateNewPost.css */

.feed-container {
    width: 570px;
    margin: auto; /* Add margin as needed */
    border: 1px solid #ccc; /* Add border for the container */
    border-radius: 10px; /* Add rounded edges */
    padding: 10px; /* Add padding inside the container */
    background-color: #fff; /* Set background color */
}

.input-and-button-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}

.feed-form {
    display: flex;
    flex-direction: column;
}

.feed-label {
    font-weight: bold;
    margin-bottom: 5px;
}

.feed-input {
    width: calc(100% - 16px); /* Adjust width considering padding and border */
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box; /* Include padding and border in the total width and height */
}

.feed-button {
    background-color: #007bff; /* Blue color */
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 8px 15px;
    cursor: pointer;
    align-self: flex-end; /* Align the button to the right */
}

.upload-a-picture input[type=file] {
    font-size: 100px;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
}

.upload-a-picture {
    position: relative;
    overflow: hidden;
    display: inline-block;
}

.upload-a-picture button {
    border: 2px solid;
    color: white;
    background-color: #007bff;
    padding: 6px 10px;
    border-radius: 8px;
    font-size: 15px;
    white-space: pre-line;
    line-height: 1.5;
}
