.navbar {
  display: flex;
  flex-direction: row;
  padding-bottom: 20px;
  padding-top: 10px;
  justify-content: center;
}


.profile-button,
.feed-button,
.logout-button {
  background-color: #1f62ab;
  color: white;
  transition-duration: 0.4s;
  font-size: 16px;
  padding: 10px 10px;
  /* padding: 12px 28px; */
  border-radius: 20px;
  margin-left: 10px;
}

.profile-button:hover,
.feed-button:hover,
.logout-button:hover {
  background-color: #1da4e3;
  color: white;
  font-size: 16px;
  padding: 12px 28px;
}
