.test {
    display: none;
}

.navbar {
    display: flex;
    background-color: #34948c;
    /* align-items: center; */
}

.nav-link {
    display: block;
    padding:20px;
    color: white;
    text-decoration: none;
    font-size: 1.2em;
    transition: color 0.3s;
}

.nav-link:hover {
    color: white;
    animation-name: navbarhover;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}

@keyframes navbarhover {
    /* 0% {background-color:#272829; box-shadow: 0px 0px 00px #06b400;}
    100% {background-color:#06b400; box-shadow: 0px 4px 10px #06b400;} */
        0% {background-color:#297772; box-shadow: 0px 0px 00px #297772;}
    100% {background-color:#297772; box-shadow: 0px 4px 10px #297772;}
}