.navbar {
    display: flex;
    flex-direction: row;
}

.profile, .feed, .logout {
    background-color: #1f62ab;
    color: white;
    transition-duration: 0.4s;
    font-size: 16px;
    padding: 14px 36px;
    margin: 30px;
}

.profile:hover, .feed:hover, .logout:hover {
    background-color:#1da4e3;
    color: white;
    font-size: 16px;
    padding: 12px 28px;
}
