article {
  font-family: sans-serif;
}
.author {
  font-family: fantasy;
}

/* .commentAndAuthorContainer {
  border: 1px powderblue solid;
  background-color: #d3d3d3;
  border-radius: 20px;
  padding: 5px;
  width: 200px;
} */
.commentContent {
  font-size: medium;
  text-align: left;
}
.commentAuthor {
  font-size: small;
  text-decoration: underline;
  text-align: right;
}
