article {
  font-family: sans-serif;
}
.author {
  font-family: fantasy;
}

.comment_container {
  border: 1px powderblue solid;
  background-color: powderblue;
  border-radius: 20px;
  padding: 5px;
}
