#root {
    margin: 0 auto;
    text-align: center;
}

/* Testing Style Button */
form [role="submit-button"] {
    background-color: #007bff; /* Blue background color */
    color: white; /* Text color */
    padding: 10px 20px; /* Padding */
    font-size: 16px; /* Font size */
    border: none; /* Remove border */
    border-radius: 4px; /* Rounded corners */
    cursor: pointer; /* Change cursor to pointer on hover */
}

form [role="submit-button"]:hover {
    background-color: #0056b3; /* Darker blue background color on hover */
}

/* Testing style Forms */

.forms {
    background-color: transparent; /* Blue background color */
    color: rgb(0, 0, 0); /* Text color */
    padding: 10px 20px; /* Padding */
    font-size: 16px; /* Font size */
    border: none; /* Remove border */
    border-radius: 4px; /* Rounded corners */
    margin-bottom: 10px; /* Add spacing between input fields */
  }
  
  .forms:focus {
    outline: none; /* Remove default focus outline */
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5); /* Add shadow when focused */
  }

