.container{
  padding:1em;
  background-color: #f0eff5;
  border-radius: 15px;
 }

.post {
    border: 1px solid #ddd;
    padding: 10px;
    border-radius: 5px;
    background-color: #f9f9f9;
  }
  
  .user-info {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .profile-picture {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
  }
  
  .post-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .post-image {
    max-width: 100%;
    height: auto;
    margin-top: 10px;
    border-radius: 5px;
  }
  
  .likes {
    display: flex;
    align-items: center;
  }
  
  .heart {
    cursor: pointer;
    margin-right: 5px;
  }
  
  .heart.liked {
    color: red;
  }

.comment{
    padding: 5px;
    margin-left: 10px;
    margin-top: 10px;
    border-radius: 5px;
    background-color: #f9f9f9;
  }

  .user-info-commments{
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    max-height: 2em;
    margin: 10px 0 15px 0;
}
  .profile-picture-comments{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 10px;
  }
  .user-info-commments textarea{
    border:none;
    border-radius:15px;
    width:75%;
    background-color: #eae7e7;
    text-align: left;
    padding:3px;
    text-indent: 12px;
  }

  .user-info-commments textarea::placeholder{
    padding:10px;
  }
  .comment-add-btn{
    width: 5%;
    background-color: #007bff;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    margin-left : 1em
  }
  


