article {
  font-family: sans-serif;
}
.postAuthor {
  font-family: fantasy;
  text-decoration: underline;
  text-align: right;
}

/* .post_container {
  border: 4px black solid;
  background-color: powderblue;
  border-radius: 20px;
  padding: 20px;
} */
