.menu_container {
  position: fixed;
  top: 0;
  left: 0;
  width: calc(100% - 10px);
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 5px;
  border-bottom: 0.5px solid #000;
  background-color: #fff;
  z-index: 999;
}

.menu_container a {
  color: #333;
  text-decoration: none;
  font-size: 5px;
  padding: 4px 6px;
  border-radius: 2.5px;
  border: 0.5px solid transparent;
  transition: all 0.3s ease;
}


