/* #home {
    color: rgb(0, 0, 0);
    display: flex;
    margin-right: 575px;
} */

#navbar {
    display: flex;
    align-items: center;
    width: 800px;
    background-color: #00843D;
    border-radius: 20px 20px 20px 20px;
    padding: 10px;
    margin: 20px;
    display: flex;
    text-align: center;
    box-sizing: border-box;
    box-shadow: 5px 5px 20px grey;
}

/* #navbar > button {
    border: 2px solid #F7D117;
    border-radius: 10px 10px 10px 10px;
    font-size: large;
} */

.login-nav-item {
    display: flex;
    margin-left:10px;
    padding:5px;
}
.logo-nav-item {
    padding: 10px;
    display: flex;
    margin-right:10px;
    padding:5px;

}
.search-nav-item {
    display: flex;
    margin-right:auto;
    padding:5px;
}

.home-nav-item {
    display: flex;
    padding:5px;
    margin-left:10px;
}

#home-nav-button {
    display: flex;
    border: 2px solid #F7D117;
    border-radius: 10px 10px 10px 10px;
    font-size: large;
}

.logout-nav-item {
    display: flex;
    padding:5px;
    margin-left:10px;
}

#logout-nav-button {
    border: 2px solid #F7D117;
    border-radius: 10px 10px 10px 10px;
    font-size: large;
}

#navbar input {
    margin-right: auto;
}

#searchButton {
    margin-right: 470px;
}

#logout {
    margin-right: 20px;
}

#navbar a {
}


.navbar-user-image {
    display: flex;
    padding:10px;
}

.navbar-user-image img {
    height: 45px;
    width: 45px;
    border-radius: 20px;
}