.friend-container{
    display: flex;
    flex-direction: row;
    padding: 10px;

}

.friend-image-container{
    display:flex;

}

.friend-image {
    height: 45px;
    width: 45x;
    border-radius: 30px;
    margin: 10px;
    justify-content: center;
}

.friend-username {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
    
}

.friend-container:hover{

    background-color: #f0f0f0;
    width: 50%
}
