:root{
    --collor--white: white;
    --collor-gray: #f0f2f5;
    --collor-gray2: #dddfe2;
    --collor-gray3: #4242437b;
    --collor-dark: #1d2129;
    --collor-blue: #1b74e4;
    --color-blue2: #1268d9;
    --collor-green: #42b72a;
    --collor-green2: #36a420;
}


body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--collor-gray);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
}


.signup-box{
    background-color: var(--collor--white);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
    padding: 1rem; 
    max-width: 400px;
    margin: 0 auto; 
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 2px 4px rgba(0, 0, 0, 0.1);
}

h2{
    color: var(--collor-blue);
    font-size: 2.5rem; 
    margin-bottom: 10px;

}

.input-sg{
    padding: 15px;
    height: 22px;
    border-radius: 6px;
    border: 1px solid var(--collor-gray2);
    outline: none;
    width: 90%;
    font-size: 17px;
    color: var(--collor-dark);
    margin-bottom: 10px;
}

.input-sg:focus{
    border-color: var(--color-blue);
    box-shadow: 0 0 0 2px, color var(--color-blue2)
}

.input-image {
    max-width: 100px;
}

.btn{
    padding: 15px;
    border: none;
    color: var(--collor--white);
    border-radius: 5px;
    width: 90%;
    font-size: 1.1rem;
    transition: .2s;
    margin-bottom: 10px;
}

.btn:hover{
    color: var(--collor-gray);
}

.btn-signup{
    background-color: var(--collor-green);
    cursor: pointer;
    margin-bottom: 10px;
}
.btn-signup:hover{
    background-color: var(--collor-green2);
}


.picture {
    display: inline-block;
    padding: 8px;
    background-color: var(--collor-gray3);
    color: var(--collor--white);
    border-radius: 5px;
    width: 50%;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-bottom: 20px;
    border: 1px solid var(--collor-gray3);
}

.picture:hover {
    background-color: var(--collor-gray2);
}
