.home {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    background-color: #f0f2f5;
    height: 100%;
  }
  
  .SignUp-banner{
    margin: 0;
    font-size: 36px;
    width: 100%;
    background-color: #1877f2;
    color: white;
    padding: 20px 0;
    text-align: center;
  }
  .SignUp-banner h1 {
    margin: 0;
    font-size: 36px;
    
  }
  
  .SignUp-banner h3 {
    margin: 0;
    font-size: 15px;
  }