body.active-modal {
    overflow-y: hidden;
}

.btn-modal {
    padding: 8px;
    margin: 10px;
    font-size: 18px;
}

.modal, .overlay {
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
}

.overlay {
    background: rgba(49,49,49,0.8);
}

.modal-content {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    line-height: 1.4;
    background: #f1f1f1;
    padding: 14px 28px;
    border-radius: 3px;
    max-width: 600px;
    min-width: 300px;
}

.modal-content .content-header {
    font-size: 20px;
    padding: 5px;
    border-bottom: 1px solid rgba(128, 128, 128, 0.224);
}

.modal-content .header {
    font-size: 15px;
    padding: 5px;
    border-bottom: 1px solid rgba(128, 128, 128, 0.224);
}

.user-image-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: 5px;
    border-bottom: 1px solid rgba(128, 128, 128, 0.224);
}

.bio {
    padding: 5px;
    border-bottom: 1px solid rgba(128, 128, 128, 0.224);
}

.button-container {
    padding: 5px
}

.close-modal {
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 5px 7px;
}

.profile-picture img{
    max-height: 100px;
    min-height: 100px;
    border-radius: 100%;
}

