*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

body{
    background-color: rgb(227, 232, 237);
}

.grid-container-1 {
    /* border: 6px solid red; */
    display: grid;
    margin: 0 0;
    grid-template-columns: repeat(auto-fit, 50% );
    /* border: 1px solid red; */
    /* grid-template-columns: repeat(auto-fit, 33% ); */
    /* gap: 10px; */
    /* justify-content: center; */
    /* align-content: center; */
}

.grid-container-2 {
    /* border: 3px solid red; */
    grid-template-columns: repeat(auto-fit, 2);
    height: 100vh;
    /* margin: 0 auto; */
    /* background-color: #c6b2b2; */
    /* padding: min(50px, 7%); */
    /* min-height: 800px;
    max-width: 75%;
    /* border: 4px solid black; */
    /* display: flex; */
    /* gap: 20px; */
    /* /* column-gap: 10px; */
    /* row-gap: 40px; */
    /* flex-wrap: wrap; */
    /* justify-content: center; */
    align-items: center;
    align-content: center;
    margin: 0 0;
}

.grid-container-3 {
    grid-template-columns: repeat(auto-fit, 2);
    /* margin: 0 auto; */
    /* background-color: #c6b2b2; */
    /* padding: min(50px, 7%); */
    /* min-height: 800px;
    max-width: 75%;
    /* border: 4px solid black; */
    /* display: flex; */
    /* gap: 20px; */
    /* /* column-gap: 10px; */
    /* row-gap: 40px; */
    /* flex-wrap: wrap; */
    /* justify-content: center; */
    align-items: center;
    align-content: center;
    margin: 0 20%;
    justify-content: center;
}

.grid-container-4 {
    /* grid-template-columns: repeat(auto-fit, 2); */
    margin: 0 auto;
    /* background-color: #c6b2b2; */
    /* padding: min(50px, 7%); */
    /* min-height: 800px;
    max-width: 75%;
    /* border: 4px solid black; */
    display: flex;
    flex-direction: column;
    /* gap: 20px; */
    /* /* column-gap: 10px; */
    /* row-gap: 40px; */
    /* flex-wrap: wrap; */
    /* justify-content: center; */
    align-items: center;
    align-content: center;
    margin: 0 20%;
    justify-content: center;
}

.login-photo {
    width: 100%;
    /* border-radius: 8px; */
    height: 100vh;
    object-fit: cover;
    object-position: bottom;
        }

.form {
    margin: 0;
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}

h2 {
    padding-bottom: 20px;
    padding-top:  20px;;
}

/* .inner-container {
    padding: 20px;
} */
/* .container {
    max-width: 800px;
    margin: 0 auto;
} */


.card {
    border: 2px solid red;
    padding: 2em;
    width: 90%;
    border: 0.5px solid #c9c5de;
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    /* text-align: center; */
    justify-content: center;
}

.post-card {
    padding: 2em;
    width: 50%;
    border: 0.5px solid #c9c5de;
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    /* text-align: center; */
    justify-content: center;
    align-content: center;
}

.post-image {
    width: 100px;
    height: 100px;
    border-radius: 360px;
    object-fit: cover;
}

.box {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    width: 200px;
    background-color: deeppink;
}

.no-margin {
    margin-bottom: 0px;
}

@media(max-width: 575px) {
    body{
        flex-wrap:wrap;
    }
}

.input-group {
    margin: 10px 0;
    }
.input-group label {
    display: block;
    font-weight: 100;
    margin-bottom: 5px;
}
.input-group input {
    width: 130px;
    padding: 8px;
    font-size: 14px;
    border: 1px solid #ddd;
    border-radius: 8px;
}

label {
    display: block;
    font-weight: bold;
    margin-top: 20px;
    color: #333;
    font-weight: 100;
}

input[type="text"], input[type="password"] {
    width: 100%;
    padding: 12px;
    margin-top: 6px;
    border: 1px solid #ddd;
    border-radius: 8px;
    font-size: 1em;
    box-sizing: border-box;
    font-weight: 100;
}

input::placeholder {
    color: #999; /* Light gray color for the placeholder */
}

.submit-button {
    width: 100%;
    padding: 14px;
    background-color: #34948c;
    color: #fff;
    border: none;
    border-radius: 8px;
    font-size: 1.1em;
    cursor: pointer;
    margin-top: 20px;
    transition: background-color 0.3s ease;
    font-weight: 100;
}

.submit-button:hover {
    background-color: #195786;
}

