#root {
  margin: 0 auto;
  text-align: center;
}

.postedbypic  { 
  border: 1px solid #ddd; /* Added styling to test functionality, feel free to delete */
  border-radius: 4px;
  padding: 5px;
  width: 150px;}
