:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  min-width: 320px;
  min-height: 100vh;
  background-color: #F7D117;
}

/* Headings styling */
h1, h2 {
  font-size: 3.9em;
  line-height: 1;
  color: #00843D;
  text-transform: uppercase;
  text-shadow: 5px 5px 13px grey;
}

h3 {
  color: #F7D117;
}

/* input {
  border: 2px solid #00843D;
  border-radius: 10px 10px 10px 10px;
  font-size:large;
  margin: 8px;
} */
