.update-image {
    max-width: 175px;
}

.update-account-box{
    background-color: var(--collor--white);
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: 1.5rem;
    padding: 1rem; 
    max-width: 900px;
    margin: 0 auto; 
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Adjust styling for input boxes */
.update-account-box input[type="text"],
.update-account-box input[type="email"],
.update-account-box input[type="password"] {
    width: 90%; /* Ensure input boxes fill the container width */
    padding: 1rem; /* Adjust padding as needed */
    border: 1px solid #ccc; /* Add border to input boxes */
    border-radius: 4px; /* Add border radius to input boxes */
    box-sizing: border-box; /* Include padding and border in the element's total width and height */
}