.bio-textarea {
    width: 200px;
    height: 100px;
    line-height: 1.5; /* Adjust as needed */
    border-radius: 10px;
    box-sizing: border-box;
    vertical-align: top;
    padding: 10px;
}

.button-container {
    padding: 5px;
}